* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 2rem;
	height: 100vh;
	background: url(images/bg-pattern-top.svg) no-repeat, url(images/bg-pattern-bottom.svg) no-repeat;
	background-position: top -450px left -40px, bottom -480px right -10px, top -450px left -40px, bottom -480px right -10px;
	background-attachment: fixed;
	background-color: hsl(185, 75%, 39%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
	overflow: hidden;
}

.wrapper-flex {
	
}

hr {
	margin: 1.7rem 0;
	border-top: hsl(0, 0%, 59%);
}

.card-container {
	font-size: 1.1rem;
	font-weight: 700;
	position: relative;
	height: 350px;
	width: 330px;
	border-radius: 20px;
	box-shadow: 0 4px 25px 1px hsl(185, 60%, 39%);
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.banner-img {
	position: absolute;
	background: url(images/bg-pattern-card.svg) no-repeat center;
	background-size: cover;
	height: 8rem;
	width: 100%;
}

.profile-img {
/*	width: 6rem;*/
	border-radius: 50%;
	margin-top: 4.5rem;
	border: 4px solid white;
}

.nameaddress {
	margin: 0.5rem 0;
}

.lighter-font {
	font-weight: 400;
	color: hsl(0, 0%, 59%);
}

.size {
	font-size: 1rem;
}

.data {
	display: flex;
	justify-content: space-evenly;
}

.item p {
	margin-top: .5rem;
}

.attribution {
	margin-top: 50px;
	padding-top: 10px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}
