:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-d-blue: hsl(229, 23%, 23%);
	--dark-g-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
	--white: hsl(100, 100%, 100%);
	--blue-purple: hsl(228, 45%, 44%);
}


* {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Kumbh Sans', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--dark-gray);
}

body {
	background: url('images/bg-pattern-top.svg') no-repeat, url('images/bg-pattern-bottom.svg') no-repeat;
	/*	background-repeat: no-repeat, no-repeat;*/
	background-attachment: scroll, scroll;
	background-position: top -400px left -280px, bottom -545px right -200px;
	background-color: var(--dark-cyan);
	height: 100vh;
	display: flex;
	position: relative;
	overflow: hidden;
}

span {
	font-weight: 700;
	color: var(--very-dark-d-blue);
	font-size: 18px;
}

.card-container {
	width: 350px;
	height: 415px;
	border-radius: 20px;
	box-shadow: 0 4px 25px 1px hsl(185, 60%, 39%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: inline-block;
}

.upper-container {
	height: 150px;
	background-image: url(images/bg-pattern-card.svg);
	border-radius: 20px 20px 0 0;
}

/*
.image-container {
	border-radius: 50%;
	width: 110px;
	height: 110px;
	background: #fff;
	transform: translate(125px, 100px);
}
*/

.image-container img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 5px solid white;
	transform: translate(125px, 100px);
}

.lower-container {
	height: 280px;
	background: white;
	border-radius: 0 0 20px 20px;
	/*	padding: 20px;*/
	padding-top: 80px;
	text-align: center;
}

.london {
	margin-top: 10px;
}

.data {
	border-top: 1px solid hsl(0, 0%, 85%);
	padding: 25px;
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.item {
	flex: 1;
	font-size: 13px;
}

.item span {
	display: block;
	padding: 8px;
}

.attribution {
	padding: 20px;
	width: 100%;
	text-align: center;
	color: var(--white);
}

.attribution a {
	color: var(--blue-purple);
}
